<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nexters.vobble"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="11" />

    <application
        android:icon="@drawable/icon2"
        android:label="@string/app_name" >
        <activity
            android:name="com.nexters.vobble.IntroActivity"
            android:label="@string/title_activity_intro" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nexters.vobble.StartActivity"
            android:label="@string/title_activity_start" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nexters.vobble.IntroActivity" />
        </activity>
        <activity
            android:name="com.nexters.vobble.SignUpActivity"
            android:label="@string/title_activity_sign_up" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nexters.vobble.StartActivity" />
        </activity>
        <activity
            android:name="com.nexters.vobble.LoginActivity"
            android:label="@string/title_activity_login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nexters.vobble.StartActivity" />
        </activity>
        <activity
            android:name="com.nexters.vobble.MainActivity"
            android:label="@string/title_activity_main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nexters.vobble.LoginActivity" />
        </activity>
        <activity
            android:name="com.nexters.vobble.RecordActivity"
            android:label="@string/title_activity_record" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nexters.vobble.MainActivity" />
        </activity>
        <activity
            android:name="com.nexters.vobble.MapActivity"
            android:label="@string/title_activity_map" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nexters.vobble.RecordActivity" />
        </activity>
        <activity
            android:name="com.nexters.vobble.fragment.AllVoiceFragment"
            android:label="@string/title_activity_all_voice_fragment" >
        </activity>
        <activity
            android:name="com.nexters.vobble.fragment.MyVoiceFragment"
            android:label="@string/title_activity_my_voice_fragment" >
        </activity>
    </application>

</manifest>
