<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nexters.vobble"
    android:versionCode="1"
    android:versionName="1.0" >
	
    <uses-sdk android:minSdkVersion="11" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <application
        android:icon="@drawable/icon2"
        android:label="@string/app_name" >
        <activity
            android:name=".activity.IntroActivity"
            android:label="@string/title_activity_intro" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.StartActivity"
            android:label="@string/title_activity_start" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nexters.vobble.IntroActivity" />
        </activity>
        <activity
            android:name=".activity.SignUpActivity"
            android:label="@string/title_activity_sign_up" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nexters.vobble.StartActivity" />
        </activity>
        <activity
            android:name=".activity.SignInActivity"
            android:label="@string/title_activity_sign_in" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nexters.vobble.StartActivity" />
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nexters.vobble.SignInActivity" />
        </activity>
        <activity
            android:name=".activity.RecordActivity"
            android:label="@string/title_activity_record" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nexters.vobble.MainActivity" />
        </activity>
        <activity
            android:name=".activity.MapActivity"
            android:label="@string/title_activity_map" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nexters.vobble.RecordActivity" />
        </activity>
        <activity
            android:name=".fragment.AllVobblesFragment"
            android:label="@string/title_activity_all_voice_fragment" >
        </activity>
        <activity
            android:name=".fragment.MyVobblesFragment"
            android:label="@string/title_activity_my_voice_fragment" >
        </activity>
    </application>

</manifest>
