<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nexters.vobble"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="11" />

    <application
        android:icon="@drawable/icon2"
        android:label="@string/app_name" >
        <activity
            android:name="com.nexters.vobble.IntroActivity"
            android:label="@string/title_activity_intro" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nexters.vobble.StartActivity"
            android:label="@string/title_activity_start"
            android:parentActivityName="com.nexters.vobble.IntroActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nexters.vobble.IntroActivity" />
        </activity>
    </application>

</manifest>
